.container{
   /* display: flex;
    flex-direction: row;*/
}
.container button{
    float: left;
    position: relative;
    border-radius: 0 0 5px 5px;
}
.container button:active{
    background-color: gray;
}

.white{
    background-color: white;
    height: 300px;
    width: 50px;

    z-index: 1;
    margin: 0 2px 0 2px;
    line-height: 40;
}

.black{
    background-color: black;
    color: white;
    height: 200px;
    width: 30px;
    margin: 0 -50px 0 -15px;
    z-index: 2;
    line-height: 25;

}